.hero {
    background-image: url("../../../public/assets/cbm-grad-topo-bkg.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color:gray;
    height: 30vh;
    min-height:300px;
}